<!--
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-light">Click Me!</a>
        <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
      </div>
    </div>
  </div>
</aside>
-->
<!--
<iframe 
    height=450 
    width=800 
    src='http://player.youku.com/embed/XMzMxMjE0MjY4NA==' 
    frameborder=0 
    'allowfullscreen'>
</iframe>
-->
<!--<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="100" src="http://music.163.com/outchain/player?type=2&id=247415&auto=0&height=66"></iframe>-->
<!--<object width="340" height="86" data="http://music.163.com/style/swf/widget.swf?
sid=445154960&type=2&auto=0&width=320&height=66" 
type="application/x-shockwave-flash"></object>-->
<iframe frameborder="no" border="0" marginwidth="0" 
marginheight="0" width="600" height="330" src="http://music.
163.com/outchain/player?
type=0&id=572758458&auto=1&height=430"></iframe>
<br></br>
<div class="diy" margin: auto>
<video id="video" controls="" preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png" width=100 height=50 margin: auto >
  <source id="mp4" src="
                        http://gslb.miaopai.com/stream/PAEyMDoxMSB9hV6BVT1l5SHT-sMVVRVgHlL7bA__.mp4?mpflag=64&amp;vend=1&amp;os=3&amp;partner=1&amp;platform=2&amp;cookie_id=&amp;refer=miaopai&amp;scid=PAEyMDoxMSB9hV6BVT1l5SHT-sMVVRVgHlL7bA__ 
                        " type="video/mp4">
</video>
</div>
