<div align="center">
<!--  ＜span style="font-family: 黑体, 宋体(GB)"＞田涛＜/span＞-->
  <ul align="center">
    <li> <h4><u>制作跌倒前预警还是跌倒后处理的产品？</u></h4> </li>
    <I> Solution：</I>我们查找收集了大量的数据，并进行整合分析。
    <li> <h4><u>如何通过某些算法检测产品周围地面是否存在水等液体？</u><h4></li>
    <I> Solution：</I>这是我们遇到最棘手也是花费时间最长的一个问题。一下午的时间，我们头脑风暴了很多想法并一一进行实验检测，最终决定通过视频拍照的方法去实现。
    <li> <h4><u>具体如何通过拍照的方法识别水的存在呢？</u><h4></li>
    <l>Solution：</l>首先，我们想到可以通过光的反射与折射性质，寻找反光点，确定水的位置。后来因为环境光、地面材料等多种干扰因素而无法实现。
    第二个想法，是通过温湿度模块检测，但因延时和精度问题而以失败告终。
    最后，我们想到通过有色光补光探测水的边缘，但条件限制严苛且误判问题严重。于是我们改进为测水的明暗程度。但有一个“Bug”是，在用户踩入水滩后，算法便无法识别。于是，我们选择电缆导电的方法对这个算法进行补充和完善。
    <li> <h4><u>超声波检测障碍物的想法有“Bug”！</u><h4> </li>
    <I> Solution：</I>超声波测障碍物的方法本来是非常常规的，但我们发现“绊倒人的障碍物”和障碍物并不完全一样。比如，电梯门是障碍物，但它并不会绊倒人。分析过后，我们发现可以用机器学习的方法识别障碍物以达到设想。（由于时间问题，无法在demo中实现）
  </ul>
  
</div>
